<div id="container">
Têkilî:
        <form>
                Nav
                <input type="text" name="Nav" id="Nav" placeholder="Nav"><br>
               Paşnav
                <input type="text" name="Paşnav" id="Paşnav" placeholder="Paşnav"><br>

                E-mail
                <input type="email" name="email"> <br>
               Name <textarea name="message" rows="5" cols="30">

                     </textarea> <br>
                <input type="submit" id="send" value="şandin">
              </form>
</div>
