<div id="container">
pêşniyar: <br>
<form>
        Nav
        <input type="text" name="Nav" id="Nav" placeholder="Nav"#Nav/><br>
       Paşnav
        <input type="text" name="Pasnav" id="Pasnav" placeholder="Pasnav"#Pasnav/><br>
        Herêm
        <input type="text" name="Herem" id="Herem" placeholder="Herem"#Herem/><br>
        pêşniyarî
        <input name="Pesniyari" id="Pesniyari" placeholder="Pesniyari" #Pesniyari/> <br>

<button type="submit" (click)="addProposition(Nav.value, Pasnav.value, Herem.value,Pesniyari.value)"S>beşdar be</button>
      </form>
</div>
